[settings]
nft_worker_url = ...
nft_collection_id = ...
dry_run = true
private_key = ...
rpc_url = ...
total_usdc_amount = 8099.7
min_usdc_amount = 20
tx_sleep_time = 1
tx_max_retries = 5
address_mapping_file = address_mapping.json
distribution_alpha = 0.1